<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCP41QF6ZodiuZdXe1Ruyu6Vun8F7ZqYeY</string>
	<key>GCM_SENDER_ID</key>
	<string>118816239644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onetouchbloods</string>
	<key>PROJECT_ID</key>
	<string>loser-winner</string>
	<key>STORAGE_BUCKET</key>
	<string>loser-winner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118816239644:ios:f926fe9816a77c3ed3efd9</string>
</dict>
</plist>